@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Rosario&display=swap');

/* -------------------------------------
            Start Page
---------------------------------------- */
.homePage{
    background-color:#E0CABC;
    font-family: 'Raleway', sans-serif;
} 

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section h1{
    font-family: 'Rosario', sans-serif;
    margin-left: -80px;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
}
.start-card{
    padding: 50px;
    margin-left: -80px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.start-card h2{
    color: #373434;
    font-size: 35px;
    font-weight: 600;
}
.start-card p{
    color: #373434;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
}
.button1{
    padding: 22px 180px;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
    background: #000000;
    border-radius: 5px;
    display: inline-block;
}


/* ---------------------------
             MCQ Page   
------------------------------ */

.mcqPage{
    background-color: #B0B8FF;
    font-family: 'Raleway', sans-serif;
}
.mcqBox{
    padding: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 773px;
    margin-top: 25px;
}
.mcq-part{
    margin-top: 150px;
    display: grid;
    justify-content: center;
}
.topContainer{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.topContent{
    padding: 25px;
    background: #FFFFFF;
    border: 2px solid #B0B8FF;
    border-radius: 20px;
    width: 773px;
    margin-top: 25px;
}

.topBar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finishButton{
    padding: 12px 80px;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
    background: #000000;
    border-radius: 5px;
    display: inline-block;
}
.mcqBox h1{
    font-weight: 700;
    font-size: 30px;
}
.mcqBox li{
    list-style: none;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    
}
.mcqBox input{
    height:25px;
    width:25px;
    margin-right: 10px;
}

/*------------------------------- 
            Result Page 
 -------------------------------*/
 .resultPage{
    background: linear-gradient(269.85deg, #FFDF64 0.12%, #F4D456 99.86%);
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .resultContainer{
    width: 435px;
    height: 563px;
    left: 743px;
    top: 258px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px;
    
 }
 .resultCard{
    text-align: center;
 }
 .resultContainer img{
    width: 316px;
    height: 275px;
 }
 .resultContainer h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
 }
 .resultContainer p{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #373434;
 }

 /* -----------------------------
        Time Out Page
 --------------------------------*/
.TimeOutPage{
    background: linear-gradient(269.85deg, #FF646D 0.12%, #F45656 99.86%);
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
